.login-background {
  display: flex;
  justify-content: center;
  align-items: center;       
  height: 100vh;             
  margin: 0;                 
  background-image: url("../assets/images/fondo.jpg");
  background-size: cover;          /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center;     /* Centra la imagen */
  background-repeat: no-repeat;    /* Evita que la imagen se repita */
}

.login-background::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(228, 219, 219, 0.1); /* negro 2con 40% opacidad */
}

.login-section{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.login-icon {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  top: 10dvh;
  z-index: 100;
}

.login-icon img {
  vertical-align: middle;
  display: inline-block;
  width: 90px;
}

.login-container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
}

.input-container{
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-field{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 30px;       
  color: white;  
}

.input-field input{
  height: 100%;       
  box-sizing: border-box;
  background: none;
  border-bottom: 1px solid black;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 5px;
}

.input-icon img{
  width: 30px;  
}

.footer-login {
  background: rgb(0, 0, 0);
  box-shadow: 0 4px 24px 0 rgb(255, 255, 255);
  width: 40%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 24px 24px;
  }

.footer-login button{
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: 0;
  cursor: pointer;
}